.scroll-menu {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item {
  width: 250px;
  height: auto;
  display: block;
  padding: 5px;
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.container p {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.arrow-button {
  background-color: white;
  padding: 0 0 0 10px;
  opacity: 50%;
}

svg {
  padding: 0;
}
