.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

svg {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}

.logo {
  width: 140px;
}

.nav_left {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
