.sub-menu {
  display: flex;
  width: 100vh;
  width: 500px;
  justify-content: space-between;
}

.accordion-title {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  cursor: pointer;
}

svg {
  height: 30px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px
}

.accordion-item:first-of-type {
  border-top: 1px solid rgb(224, 222, 223);
}

.accordion-item {
  border-bottom: 1px solid rgb(229, 229, 229);
}